
<div class="form-group">
  <form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
      <div class="col-3">
        <label for="exampleFormControlFile1">File</label>
        <input name="file" type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>

      <div class="col-2 d-flex align-items-end justify-content-end">
        <button type="submit" class="btn btn-primary">Upload File</button>
      </div>
      {% if request.session.file_name %}
        <div class="col-7 d-flex align-items-end justify-content-start text-small">
          <small>Uploaded File: {{ request.session.file_name }}</small>
        </div>
      {% endif %}
    </div>
  </form>

  <div class="row my-5">

    <div class="col-2">
      <label for="exampleFormControlSelect1">Algorithm</label>
      <select name="algorithm" id="algorithm" class="form-control" id="exampleFormControlSelect1">
        <option value="dbscan">DBSCAN</option>
        <option value="kmeans">K-Means</option>
        <option value="pca">PCA </option>
      </select>
    </div>

    <div id="paramter1-container" class="col-2">
      <label for="exampleFormControlFile1">Threshold</label>
      <input id="parameter_1" name="parameter_1" class="form-control" aria-describedby="emailHelp" placeholder="Threshold">
    </div>

    <div id="paramter2-container" class="col-2">
      <label for="exampleFormControlFile1">N</label>
      <input id="parameter_2" name="parameter_2" class="form-control" aria-describedby="emailHelp" placeholder="N">
    </div>

    <div id="feature-container" class="col-2">
      <label for="exampleFormControlFile1">Draw th Feature</label>
      <select name="feature" id="feature" class="form-control" id="exampleFormControlSelect2">
      </select>
    </div>
    
    <div class="col-2 d-flex align-items-end justify-content-center"></div>

    <div class="col-2 d-flex align-items-end justify-content-end">
      <button id="cizdir_button" class="btn btn-primary">Calculate</button>
    </div>

    
    
  </div>
</div>


