{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/graph.css' %}" >
    
    <title>Bitirme - Kadir Can Çetin</title>
  </head>
  <body class="bg-dark text-white my-3">

    
    <div class="container">
      <div class="row">
        <div class="col">
          {% include 'forms.html' %}
        </div>
      </div>

      <div class="row my-5">
        <div class="col justify-content-center">
          <div class="svg-container" id="svg-container">
            <div id="my_dataviz"></div>
          </div>
        </div>
      </div>

      <!-- <div class="row my-5">
           <div class="col-4 text-white">
           {% include 'table.html' %}
           </div>
           </div> -->
    </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="{% static 'js/bootstrap.min.js'  %}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'js/d3.v5.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/graph.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
  </body>
</html>

