<table class="table table-striped bg-white rounded">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">True</th>
      <th scope="col">False</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Positive</th>
      <td>100</td>
      <td>200</td>
    </tr>
    <tr>
      <th scope="row">Negative</th>
      <td>300</td>
      <td>50</td>
    </tr>
    
  </tbody>
</table>
