.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis-white line{
  stroke: white;
}

.axis-white path{
  stroke: white;
}

.axis-white text{
  fill: white;
}

.svg-container{

}

table{
  opacity: 0.9;
}
